body{
    background: #e9e9e9 url(/static/img/bg_body.png) fixed;
}
.modal{
    border-radius: 10px;
    border: 1px solid #b8c5b8;
    background-color: #fff;
    height: 250px;
	width: 450px;
	margin: 0 auto;
}
.header{
	margin-top: 10px;
	text-align: center;
}
ul{
	width: 100%;
	padding:0;
	margin-left: 2px;
}
li{
	margin-left: -5px;
	display: inline-block;
	text-decoration: none;
	list-style-type: none;
}

.btn_menu{
	display: block;
	background: #68b905;
	color:white;
	border:0px;
	padding: 3px;
	padding-left: 7px;
	padding-right: 7px;
	text-decoration:none;
	text-transform: uppercase  ;
	font-weight: 400;
	font-size: 16px;
	font-family: Arial;
}
.btn_menu:hover{
	background: #004f1f;
}
.btn{
	background: #68b905;
	color:white;
	border-radius: 5px;
	border:0px;
	padding: 3px;
	padding-left: 7px;
	padding-right: 7px;
	text-decoration:none;
	text-transform: uppercase  ;
	font-weight: 400;
	font-size: 16px;
	font-family: Arial;
}
.btn:hover{
	background: #004f1f;
}
.bform{
	text-align: center;
}
.feedback__text {
  margin-bottom: 7px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  color: #282828;
}

.feedback__label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 132px;
  height: 32px;
  margin:0 auto;
  padding: 8px 20px 7px;
  border-radius: 5px;
  font-family: OpenSans;
  font-size: 12px;
  text-align: center;
  background: #e9e9e9 url(/static/img/bg_body.png) fixed;
  color: #282828;
  cursor: pointer;
}

.feedback__file {
  display: none;
}
input[type="text"]{
	width: 80%;
}

body,html{height:100%;width:100%;overflow-x:hidden}
body{margin:0;}
.loader{height:100%;width:100%}
.loader .l_main{position:absolute;top:50%;left:50%;width:172px;height:128px;margin:0;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
@media (max-width:550px){.loader{-webkit-transform:scale(0.75);transform:scale(0.75)}}
@media (max-width:440px){.loader{-webkit-transform:scale(0.5);transform:scale(0.5)}}
.l_square{position:relative}
.l_square:nth-child(1){margin-left:0px}
.l_square:nth-child(2){margin-left:44px}
.l_square:nth-child(3){margin-left:88px}
.l_square:nth-child(4){margin-left:132px}
.l_square span{position:absolute;top:0px;left:20px;height:36px;width:36px;border-radius:2px;background-color:#FFFFFF}
.l_square span:nth-child(1){top:0px}
.l_square span:nth-child(2){top:44px}
.l_square span:nth-child(3){top:88px}
.l_square:nth-child(1) span{-webkit-animation:animsquare1 2s infinite ease-in;animation:animsquare1 2s infinite ease-in}
.l_square:nth-child(2) span{-webkit-animation:animsquare2 2s infinite ease-in;animation:animsquare2 2s infinite ease-in}
.l_square:nth-child(3) span{-webkit-animation:animsquare3 2s infinite ease-in;animation:animsquare3 2s infinite ease-in}
.l_square:nth-child(4) span{-webkit-animation:animsquare4 2s infinite ease-in;animation:animsquare4 2s infinite ease-in}
.l_square span:nth-child(1){-webkit-animation-delay:0.00s;animation-delay:0.00s}
.l_square span:nth-child(2){-webkit-animation-delay:0.15s;animation-delay:0.15s}
.l_square span:nth-child(3){-webkit-animation-delay:0.30s;animation-delay:0.30s}
@-webkit-keyframes animsquare1{0%,5%,95%,100%{-webkit-transform:translate(0px,0px) rotate(0deg);transform:translate(0px,0px) rotate(0deg)}30%,70%{-webkit-transform:translate(-40px,0px) rotate(-90deg);transform:translate(-40px,0px) rotate(-90deg)}}
@keyframes animsquare1{0%,5%,95%,100%{-webkit-transform:translate(0px,0px) rotate(0deg);transform:translate(0px,0px) rotate(0deg)}30%,70%{-webkit-transform:translate(-40px,0px) rotate(-90deg);transform:translate(-40px,0px) rotate(-90deg)}}
@-webkit-keyframes animsquare2{0%,10%,90%,100%{-webkit-transform:translate(0px,0px) rotate(0deg);transform:translate(0px,0px) rotate(0deg)}35%,65%{-webkit-transform:translate(-40px,0px) rotate(-90deg);transform:translate(-40px,0px) rotate(-90deg)}}
@keyframes animsquare2{0%,10%,90%,100%{-webkit-transform:translate(0px,0px) rotate(0deg);transform:translate(0px,0px) rotate(0deg)}35%,65%{-webkit-transform:translate(-40px,0px) rotate(-90deg);transform:translate(-40px,0px) rotate(-90deg)}}
@-webkit-keyframes animsquare3{0%,15%,85%,100%{-webkit-transform:translate(0px,0px) rotate(0deg);transform:translate(0px,0px) rotate(0deg)}40%,60%{-webkit-transform:translate(-40px,0px) rotate(-90deg);transform:translate(-40px,0px) rotate(-90deg)}}
@keyframes animsquare3{0%,15%,85%,100%{-webkit-transform:translate(0px,0px) rotate(0deg);transform:translate(0px,0px) rotate(0deg)}40%,60%{-webkit-transform:translate(-40px,0px) rotate(-90deg);transform:translate(-40px,0px) rotate(-90deg)}}
@-webkit-keyframes animsquare4{0%,20%,80%,100%{-webkit-transform:translate(0px,0px) rotate(0deg);transform:translate(0px,0px) rotate(0deg)}45%,55%{-webkit-transform:translate(-40px,0px) rotate(-90deg);transform:translate(-40px,0px) rotate(-90deg)}}
@keyframes animsquare4{0%,20%,80%,100%{-webkit-transform:translate(0px,0px) rotate(0deg);transform:translate(0px,0px) rotate(0deg)}45%,55%{-webkit-transform:translate(-40px,0px) rotate(-90deg);transform:translate(-40px,0px) rotate(-90deg)}}
