<!DOCTYPE html>
<html lang="en">

<head>

    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta http-equiv='X-UA-Compatible' content='IE=Edge' />
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
<div style="display: none;width: 100vw;height: 100vh;position: fixed;margin: 0;text-align: center;padding: 0;z-index: 9999;background-color: rgba(0, 105, 123, 0.8);top: 0;" id="loader">
<div class="loader">
<div class="l_main">
  <div class="l_square"><span></span><span></span><span></span></div>
  <div class="l_square"><span></span><span></span><span></span></div>
  <div class="l_square"><span></span><span></span><span></span></div>
  <div class="l_square"><span></span><span></span><span></span></div>
</div>
</div>
</div>
    <div class="modal">
        <div class="header">
            <ul>
                <li><button class="btn_menu" onclick="menu('upload')">Загрузить файл</button></li>
                <li><button class="btn_menu" onclick="menu('download')">Скачать файл</button></li>
                <li><button class="btn_menu" onclick="menu('delete')">Удалить файл</button></li>
            </ul>
        </div>
        <div class="bform">
            <form action="#" onsubmit="return false" method=post enctype=multipart/form-data  id="upload">
                <h3>Выберете файл для загрузки</h3>
                <label class="feedback__label">
                  Добавить файл
                  <input type="file" name="upload" class="feedback__file">
                </label> <br>
                <button class="btn" onclick="call_api('upload')">Загрузить файл</button>
            </form>

            <form action="#" onsubmit="return false" method=post enctype=multipart/form-data style="display:none" id="download">
                <h3>Введите hash файла для его загрузки на ПК</h3>
                <input type="text" name="download"><br><br>
                <button class="btn" onclick="call_api('download')">Скачать файл</button>
            </form>

            <form action="#" onsubmit="return false" method=post enctype=multipart/form-data id="delete" style="display:none">
                <h3>Введите hash файла для его удаления с сервера</h3>
                <input type="text" name="delete"><br><br>
                <button class="btn" onclick="call_api('delete')">Удалить файл</button>
            </form>
        </div>
    </div>
</body>
<script src="static/js/jquery-3.5.1.min.js"></script>
<script>
function menu(menu_el){
    switch(menu_el) {
        case 'upload':
            $("#download").css("display","none")
            $("#delete").css("display","none")
            $("#upload").css("display","block")
            break

        case 'download':
            $("#upload").css("display","none")
            $("#delete").css("display","none")
            $("#download").css("display","block")
            break

        case 'delete':
            $("#upload").css("display","none")
            $("#download").css("display","none")
            $("#delete").css("display","block")
            break
    }
}
function call_api(name_form) {
        if($("#" + name_form + " input").val()==""){
            alert("Вы не заполнили поле ввода")
        }else{
            $("#loader").css("display","block")
            var form = $("#"+name_form)[0]
            var formData = new FormData(form)
            var send_msg = $.ajax({
                type: 'POST',
                url: '/api/file',
                processData: false,
                contentType: false,
                data: formData,
                beforeSend: function () {
                    if (send_msg) {
                        send_msg.abort();
                    }
                },
                success: function (data) {
                    for(i=0;i<$("input").length;i++){
                        $("input")[i].value=null
                    }
                    switch(name_form) {
                        case 'upload':
                            alert("hash file : " + data)
                            break
                        case 'download':
                            if(data=="false"){
                                alert("Такого файла не существует")
                            }else{
                                var link = document.createElement('a');
                                link.setAttribute('href', data);
                                link.click();
                            }
                            break
                        case 'delete':
                            alert("Файл удалён")
                            break
                    }
                    $("#loader").css("display","none")
                },
                statusCode: {
                    500: function () {

                    }
                }
            });
        }
    }
</script>

</html>
